@import "vars";
@import "reset";


.site {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 60vw;
}

header h1{
  font-size: 6rem;
}
